


<!DOCTYPE html><html class=''>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  <link rel="stylesheet" class="cp-pen-styles" href="../static/css/costum.css">

  
</head>
<body>
    <div id="frame">
      <div id="sidepanel">
        <div id="profile">
          <div class="wrap">
            <img id="profile-img" src="../static/images/papy.png" class="online" alt="" />
            <p>Papy Map Stories</p>
          </div>
        </div>
        

          <div class="map_google">
          <ul id="map_google">

          </ul>
        </div>
      </div>
      <div class="content">
        <div class="contact-profile">
          <img src="../static/images/papy.png" alt="" />
          <p>Papy qui raconte des histoires</p>
       
          <div class="social-media">
              <a class="btn icon" href="https://www.facebook.com/mameri.wafi" target="_blank"><i class="fa fa-facebook" aria-hidden="true" ></i></a>
              <a class="btn icon" href="https://github.com/wafistos1/Projet7" target="_blank"><i class="fa fa-GitHub" aria-hidden="true"></i></a>
              <a class="btn icon" href="https://trello.com/b/gByrXXxQ/grandpy" target="_blank"><i class="fa fa-Trello" aria-hidden="true"></i></a>   
          </div>
        
        </div>
        <div class="messages" >
          <ul id="messages">
            
          </ul>
        </div>
        <div class="message-input">
          <div class="wrap">
            <form id="message-input">
          <input type="text" placeholder="Write your message..." />
          <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/scripts/scripts.js" >

    </script>

</body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</footer>

</html>
