


<!DOCTYPE html><html class=''>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  <link rel="stylesheet" class="cp-pen-styles" href="{{ url_for('static', filename='css/costum.css')}}">
  <title class="GrandPy">GrandPy</title>
  
</head>
<body>
    <div class="container">
        <header class="row col-sm-12">
            <div class="page-header">
              <h1>Le papy qui</h1>
            </div>
        </header>
      <div id="frame">
        <div id="sidepanel">
          <div id="profile">
            <div class="wrap">
              <img id="profile-img" src="{{ url_for('static', filename='images/papy.png')}}" class="online" alt="" />
              <p>Papy Map Stories</p>
            </div>
          </div>
          
      
            <div class="map_google">
              <ul id="map_google">
      
              </ul>
            </div>
        </div>
        <div class="content">
          <div class="contact-profile">
            <img src="{{ url_for('static', filename='images/papy.png')}}" alt="" />
            <p>Papy qui raconte des histoires</p>
          
          </div>
          <div class="messages" >
            <ul>
              
            </ul>
          </div>
          <div class="message-input">
            <div class="wrap">
              <form id="message-input">
            <input type="text" placeholder="Write your message..." />
            <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js')}}" ></script>

</body>


</html>

