<html>

<head id="head-bar">
  <title>PapyLe</title>
  <link rel="stylesheet" href='{{url_for("static", filename="css/costum.css")}}' />
      
  
  <div id="header-logo">
          <h1>Quand mon grand père raconte des histoires</h1>

  </div>
      
    
</head>

<body>
  <div id="list_section">
    
    <ul>
      <li id="question_gp"><div><img src='../static/images/papy.png\' width="50px" ></div><div class="item">Bonjour  mon petit !  veux-tu me dire quelque chose ?</div></li>
    </ul>
    <div id="results">

    </div>
    <form id="question">
	  <input type="text" id="text-id" placeholder="Poser une question a papy "/>
	  <button id="boutton">send</button>
    </form>
    <div><a href='<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.1272855606035!2d2.348298615888312!3d48.87485000750135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1496fc9521%3A0xcf55b727f024061b!2sOpenClassrooms!5e0!3m2!1sfr!2sdz!4v1570436699544!5m2!1sfr!2sdz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>'></a></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src='{{url_for("static", filename="scripts/scripts.js")}}'></script>
</body>
<footer>
      <p><a href="#">&copyleft-Ouafi MAMERI. Oct-2019 </a></p><p><a href="#">  GitHub  </a></p><p><a href="https://trello.com/b/gByrXXxQ/grandpy"> Tableau Trello</a></p>
</footer>
</html>
</html>