Package        Version  
-------------- ---------
beautifulsoup4 4.8.0    
certifi        2019.9.11
chardet        3.0.4    
Click          7.0      
Flask          1.1.1    
Flask-Session  0.3.1    
Flask-WTF      0.14.2   
idna           2.8      
itsdangerous   1.1.0    
Jinja2         2.10.1   
MarkupSafe     1.1.1    
pip            19.2.3   
requests       2.22.0   
setuptools     41.2.0   
soupsieve      1.9.4    
urllib3        1.25.6   
Werkzeug       0.16.0   
wheel          0.33.6   
wikipedia      1.4.0    
WTForms        2.2.1    
